{% extends 'layout.html' %}
{% load static %}


{% block content %}
<form method="post" >
{% csrf_token %}




<div class="row">

<div class="col-xl-6 col-lg-6">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" style="text-transform: none;">Данные игрока</h4>
    </div>
    <div class="card-body">
      <div class="basic-form">
        <div class="form-group">
          {{ form.name }}
        </div>
        <div class="form-group">
          {{ form.tel_namber }}
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-xl-6 col-lg-6">
  <div class="card">
    <div class="card-header">
      <h4 class="card-title" style="text-transform: none;">Данные страхующего*</h4>
    </div>
    <div class="card-body">
      <div class="basic-form">
        <div class="form-group">
          {{ form.who_insures_name }}
        </div>
        <div class="form-group">
          {{ form.who_insures_tel_namber }}
        </div>
      </div>
      <span>* Не обязательно</span>
    </div>
  </div>
</div>
<div style="width: 100%;"><button type="submit" class="btn btn-dark" style="margin: 0% 10%;width: 80%;">Добавить</button></div>

</ div></form>
{% endblock %}
