/*
    Table of Contents

    Name                 : Davur
    Author               : DexignZone
    Author Portfolio     : https://themeforest.net/user/dexignzone/portfolio
    


    Table of Sass Contents

    1. Abstracts
        _bs-custom
        _inheritance
        _maps
        _mixin
        _variable

    2. bootstrap 
        -Here goes all official bootstrap scss files

    3. Global/Base
        _color
        _custom-grid
        _fonts
        _helper
        _reset

    4. layout
        +footer
        +header
        +rtl
        +sidebar
        +tables
        +theme
        +version-dark

    5. Conponents
        +app
        +charts
        +forms
        +map
        +uc
        +ui
        +widget

    6. Page
        _index-1
        _page-error
        _page-register
        _page-signin
        _page-user-lock
        _page-user-lock

*/
/*$primary  : #7356f1 !default;*/
@import url("https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600,700");
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700");
@import url("https://fonts.googleapis.com/css?family=Roboto:400,500,700");
@import url("https://fonts.googleapis.com/css?family=Nunito:400,600,700");
@import url("./../icons/simple-line-icons/css/simple-line-icons.css");
@import url("./../icons/font-awesome-old/css/font-awesome.min.css");
@import url("./../icons/material-design-iconic-font/css/materialdesignicons.min.css");
@import url("./../icons/themify-icons/css/themify-icons.css");
@import url("./../icons/line-awesome/css/line-awesome.min.css");
@import url("./../icons/avasta/css/style.css");
@import url("./../icons/flaticon/flaticon.css");
@import url("./../icons/icomoon/icomoon.css");
@import url(./../vendor/animate/animate.min.css);
@import url(./../vendor/aos/css/aos.min.css);
@import url(./../vendor/perfect-scrollbar/css/perfect-scrollbar.css);
@import url(./../vendor/metismenu/css/metisMenu.min.css);

/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
:root {
  --blue: #5e72e4;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #EE3232;
  --orange: #ff9900;
  --yellow: #FFFA6F;
  --green: #297F00;
  --teal: #20c997;
  --cyan: #3065D0;
  --white: #fff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --primary: #2f4cdd;
  --secondary: #3e4954;
  --success: #2bc155;
  --info: #2781d5;
  --warning: #ff6d4d;
  --danger: #f72b50;
  --light: #c8c8c8;
  --dark: #6e6e6e;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --breakpoint-xxl: 1440;
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace; }

*,
*::before,
*::after {
  box-sizing: border-box; }

html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); }

 header, nav {
  display: block; }

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #7e7e7e;
  text-align: left;
  background-color: #fbfbfb; }

 h4 {
  margin-top: 0;
  margin-bottom: 0.5rem; }

p {
  margin-top: 0;
  margin-bottom: 1rem; }


ul {
  margin-top: 0;
  margin-bottom: 1rem; }


ul ul {
  margin-bottom: 0; }


strong {
  font-weight: bolder; }

a {
  color: #2f4cdd;
  text-decoration: none;
  background-color: transparent; }
  a:hover {
    color: #1b32a5;
    text-decoration: underline; }

a:not([href]):not([tabindex]) {
  color: inherit;
  text-decoration: none; }
  a:not([href]):not([tabindex]):hover, a:not([href]):not([tabindex]):focus {
    color: inherit;
    text-decoration: none; }
  a:not([href]):not([tabindex]):focus {
    outline: 0; }

img {
  vertical-align: middle;
  border-style: none; }

svg {
  overflow: hidden;
  vertical-align: middle; }

table {
  border-collapse: collapse; }

th {
  text-align: inherit; }

button {
  border-radius: 0; }

button:focus {
  outline: 1px dotted;
  outline: 5px auto -webkit-focus-ring-color; }

input,
button {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button,
input {
  overflow: visible; }

button {
  text-transform: none; }

button,
[type="button"],
[type="submit"] {
  -webkit-appearance: button; }

button:not(:disabled),
[type="button"]:not(:disabled),
[type="submit"]:not(:disabled) {
  cursor: pointer; }

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none; }

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none; }

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

 h4, .h4 {
  margin-bottom: 0.5rem;
  font-weight: 500;
  line-height: 1.2;
  color: #3d4465; }

h4, .h4 {
  font-size: 1.125rem; }

.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto; }

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px; }

 .col-lg-6, .col-xl-6 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px; }
@media (min-width: 992px) {

  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%; } }
@media (min-width: 1200px) {

  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%; } }
.table {
  width: 100%;
  margin-bottom: 1rem;
  color: #7e7e7e; }
  .table th,
  .table td {
    padding: 0.75rem;
    vertical-align: top;
    border-top: 1px solid #EEEEEE; }
  .table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #EEEEEE; }
  .table tbody + tbody {
    border-top: 2px solid #EEEEEE; }
@media (max-width: 767.98px) {
  .table-responsive-md {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch; } }
.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch; }

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #f0f1f5;
  border-radius: 0.75rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .form-control {
      transition: none; } }
  .form-control::-ms-expand {
    background-color: transparent;
    border: 0; }
  .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #9daaef;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(47, 76, 221, 0.25); }
  .form-control::placeholder {
    color: #6c757d;
    opacity: 1; }
  .form-control:disabled {
    background-color: #e9ecef;
    opacity: 1; }

.form-group {
  margin-bottom: 1rem; }

.btn {
  display: inline-block;
  font-weight: 400;
  color: #7e7e7e;
  text-align: center;
  vertical-align: middle;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 0.75rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  @media (prefers-reduced-motion: reduce) {
    .btn {
      transition: none; } }
  .btn:hover {
    color: #7e7e7e;
    text-decoration: none; }
  .btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(47, 76, 221, 0.25); }
   .btn:disabled {
    opacity: 0.65; }

.btn-primary {
  color: #fff;
  background-color: #2f4cdd;
  border-color: #2f4cdd; }
  .btn-primary:hover {
    color: #fff;
    background-color: #203cc5;
    border-color: #1e38bb; }
  .btn-primary:focus {
    box-shadow: 0 0 0 0.2rem rgba(78, 103, 226, 0.5); }
   .btn-primary:disabled {
    color: #fff;
    background-color: #2f4cdd;
    border-color: #2f4cdd; }
  .btn-primary:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #1e38bb;
    border-color: #1d35b0; }
    .btn-primary:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(78, 103, 226, 0.5); }

.btn-dark {
  color: #fff;
  background-color: #6e6e6e;
  border-color: #6e6e6e; }
  .btn-dark:hover {
    color: #fff;
    background-color: #5b5b5b;
    border-color: #555555; }
  .btn-dark:focus {
    box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5); }
   .btn-dark:disabled {
    color: #fff;
    background-color: #6e6e6e;
    border-color: #6e6e6e; }
  .btn-dark:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #555555;
    border-color: #4e4e4e; }
    .btn-dark:not(:disabled):not(.disabled):active:focus {
      box-shadow: 0 0 0 0.2rem rgba(132, 132, 132, 0.5); }

.btn-block {
  display: block;
  width: 100%; }
  .btn-block + .btn-block {
    margin-top: 0.5rem; }

input[type="submit"].btn-block,
input[type="button"].btn-block {
  width: 100%; }


.dropdown {
  position: relative; }

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 10rem;
  padding: 0.5rem 0;
  margin: 0.125rem 0 0;
  font-size: 0.875rem;
  color: #7e7e7e;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.75rem; }

.dropdown-menu.show {
  display: block; }

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none; }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 1rem; }
  
  .navbar > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between; }
.navbar-expand {
  flex-flow: row nowrap;
  justify-content: flex-start; }
  
  .navbar-expand > .container-fluid {
    padding-right: 0;
    padding-left: 0; }
  
  .navbar-expand > .container-fluid {
    flex-wrap: nowrap; }

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.75rem; }

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem; }

.card-title {
  margin-bottom: 0.75rem; }

.card-header {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  background-color: rgba(0, 0, 0, 0.03);
  border-bottom: 1px solid rgba(0, 0, 0, 0.125); }
  .card-header:first-child {
    border-radius: calc(0.75rem - 1px) calc(0.75rem - 1px) 0 0; }

@keyframes progress-bar-stripes {
  from {
    background-position: 1rem 0; }
  to {
    background-position: 0 0; } }

@keyframes spinner-border {
  to {
    transform: rotate(360deg); } }

@keyframes spinner-grow {
  0% {
    transform: scale(0); }
  50% {
    opacity: 1; } }

.d-flex {
  display: flex !important; }

.align-items-center {
  align-items: center !important; }

.m-0 {
  margin: 0 !important; }

.p-0 {
  padding: 0 !important; }

.p-3 {
  padding: 1rem !important; }

@media print {
  *,
  *::before,
  *::after {
    text-shadow: none !important;
    box-shadow: none !important; }

  a:not(.btn) {
    text-decoration: underline; }

  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p {
    orphans: 3;
    widows: 3; }

  @page {
    size: a3; }
  body {
    min-width: 992px !important; }

  .navbar {
    display: none; }

  .table {
    border-collapse: collapse !important; }
    .table td,
    .table th {
      background-color: #fff !important; } }
.c-pointer {
  cursor: pointer; }

* {
  outline: none;
  padding: 0; }
  *::after {
    margin: 0;
    padding: 0; }
  *::before {
    margin: 0;
    padding: 0; }

body {
  overflow-x: hidden;
  height: 100%;
  position: relative;
  max-width: 100%;
  font-size: 1rem; }
  @media only screen and (max-width: 991px) {
    body {
      font-size: 0.875rem; } }

p {
  line-height: 1.8; }

#main-wrapper {
  opacity: 0;
  transition: all 0.25s ease-in;
  overflow: hidden;
  position: relative; }
  #main-wrapper.show {
    opacity: 1; }

ul {
  padding: 0;
  margin: 0; }

li {
  list-style: none; }

a {
  color: #7e7e7e; }
  a:hover, a:focus {
    text-decoration: none; }

.w-space-no {
  white-space: nowrap; }
.content-body .container-fluid {
  padding-top: 40px;
  padding-right: 40px;
  padding-left: 40px; }
  @media only screen and (max-width: 1600px) {
    .content-body .container-fluid {
      padding-top: 30px;
      padding-right: 30px;
      padding-left: 30px; } }
  @media only screen and (max-width: 767px) {
    .content-body .container-fluid {
      padding-top: 20px;
      padding-right: 20px;
      padding-left: 20px; } }
  @media only screen and (max-width: 575px) {
    .content-body .container-fluid {
      padding-top: 15px;
      padding-right: 15px;
      padding-left: 15px; } }

.btn-primary:not(:disabled):not(.disabled):active:focus {
  box-shadow: none; }
@keyframes gXGDoR {
  from {
    -webkit-transform: translateY(5px) scale(0.8);
    -ms-transform: translateY(5px) scale(0.8);
    transform: translateY(5px) scale(0.8); }
  to {
    -webkit-transform: translateY(0px) scale(1);
    -ms-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1); } }
@keyframes crescendo {
  from {
    -webkit-transform: translateY(5px) scale(0.8);
    -ms-transform: translateY(5px) scale(0.8);
    transform: translateY(5px) scale(0.8); }
  to {
    -webkit-transform: translateY(0px) scale(1);
    -ms-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1); } }
@keyframes gXGDoR {
  from {
    -webkit-transform: translateY(5px) scale(0.8);
    -ms-transform: translateY(5px) scale(0.8);
    transform: translateY(5px) scale(0.8); }
  to {
    -webkit-transform: translateY(0px) scale(1);
    -ms-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1); } }
/* Editable */
#preloader {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: #fff; }

.sk-three-bounce {
  margin: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  background-color: white; }

.sk-three-bounce .sk-child {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background-color: #2f4cdd;
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: sk-three-bounce 1.4s ease-in-out 0s infinite both;
  animation: sk-three-bounce 1.4s ease-in-out 0s infinite both; }

.sk-three-bounce .sk-bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s; }

.sk-three-bounce .sk-bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s; }
@keyframes sk-three-bounce {
  0%,
    80%,
    100% {
    -webkit-transform: scale(0);
    transform: scale(0); }
  40% {
    -webkit-transform: scale(1);
    transform: scale(1); } }

.nav-header {
  height: 7.5rem;
  width: 21.563rem;
  display: inline-block;
  text-align: left;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #fff;
  transition: all .2s ease;
  z-index: 5; }
  .nav-header .logo-abbr {
    max-width: 52px; }
    @media only screen and (max-width: 575px) {
      .nav-header .logo-abbr {
        max-width: 40px; } }
  .nav-header .logo-compact {
    display: none; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .nav-header {
      width: 17rem; } }
  .nav-header .brand-logo {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: flex-start;
    align-items: center;
    font-size: 1.125rem;
    color: #fff;
    text-decoration: none;
    padding-left: 50px;
    padding-right: 50px;
    font-weight: 700; }
    @media only screen and (max-width: 1400px) {
      .nav-header .brand-logo {
        padding-left: 25px;
        padding-right: 25px; } }
    @media only screen and (max-width: 767px) {
      .nav-header .brand-logo {
        padding-left: 0;
        padding-right: 0;
        justify-content: center; } }
  .nav-header .brand-title {
    margin-left: 20px;
    max-width: 120px;
    margin-top: 5px; }

@media only screen and (max-width: 1199px) {
  .nav-header {
    width: 5rem;
    height: 5rem; }
    .nav-header .brand-title {
      display: none; } }
.nav-control {
  cursor: pointer;
  position: absolute;
  right: -4.0625rem;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  z-index: 9999;
  font-size: 1.4rem;
  padding: 2px 0.5rem 0;
  border-radius: 2px; }
  @media only screen and (max-width: 767px) {
    .nav-control {
      right: -2.75rem; } }
  @media only screen and (max-width: 575px) {
    .nav-control {
      right: -1.75rem; } }

.hamburger {
  display: inline-block;
  left: 0px;
  position: relative;
  top: 3px;
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
  width: 26px;
  z-index: 999; }

.hamburger .line {
  background: #2f4cdd;
  display: block;
  height: 3px;
  border-radius: 3px;
  margin-top: 6px;
  margin-bottom: 6px;
  margin-left: auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.hamburger .line:nth-child(1) {
  width: 20px; }

.hamburger .line:nth-child(2) {
  width: 26px; }

.hamburger .line:nth-child(3) {
  width: 22px; }

.hamburger:hover {
  cursor: pointer; }

.hamburger:hover .line {
  width: 26px; }

/*
    .hamburger.is-active {
      left: 60px;
    }
    */

.header {
  height: 7.5rem;
  z-index: 1;
  position: relative;
  padding: 0rem;
  background-color: #fff;
  z-index: 3;
  padding-left: 21.563rem;
  transition: all .2s ease; }
  @media only screen and (max-width: 1400px) {
    .header {
      padding-left: 17rem; } }
  .header .header-content {
    height: 100%;
    padding-left: 5.3125rem;
    padding-right: 1.875rem;
    align-items: center;
    display: flex; }
    @media only screen and (max-width: 767px) {
      .header .header-content {
        padding-left: 3.75rem;
        padding-right: 0.938rem; } }
  .header .navbar {
    padding: 0;
    height: 100%;
    width: 100%; }
  @media only screen and (max-width: 1199px) {
    .header {
      height: 5rem; } }

/* pulse in SVG */

/* pulse in CSS */
@keyframes pulse-me {
  0% {
    -webkit-transform: scale(0.3);
    transform: scale(0.3);
    opacity: 0; }
  50% {
    opacity: 0.1; }
  70% {
    opacity: 0.09; }
  100% {
    -webkit-transform: scale(3);
    transform: scale(3);
    opacity: 0; } }

.header-left {
  height: 100%;
  display: flex;
  align-items: center; }
  .header-left input {
    background: #fbfbfb !important;
    min-width: 170px;
    min-height: 40px;
    border-color: transparent;
    color: #6e6e6e !important;
    border-top-left-radius: 0.375rem;
    border-bottom-left-radius: 0.375rem;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    box-shadow: none;
    padding: 10px 20px;
    font-size: 16px;
    border: 1px solid #ebebeb;
    border-width: 1px 0px 1px 1px;
    font-weight: 300; }
    .header-left input:focus, .header-left input:active {
      border-color: transparent;
      box-shadow: none; }
    .header-left input::-webkit-input-placeholder {
      /* Edge */
      color: #6e6e6e; }
    .header-left input:-ms-input-placeholder {
      /* Internet Explorer */
      color: #6e6e6e; }
    .header-left input::placeholder {
      color: #6e6e6e; }
  .header-left .search_bar {
    display: flex;
    align-items: center;
    height: 100%; }
    @media only screen and (max-width: 767px) {
      .header-left .search_bar {
        display: none; } }
    .header-left .search_bar .dropdown-menu {
      box-shadow: none; }
    .header-left .search_bar .search_icon {
      background: #fbfbfb !important;
      height: 56px;
      padding: 15px 20px 15px 0 !important;
      border-top-right-radius: 0.375rem;
      border-bottom-right-radius: 0.375rem;
      border: 1px solid #ebebeb;
      border-width: 1px 1px 1px 0; }
      .header-left .search_bar .search_icon i {
        font-size: 24px;
        color: #6e6e6e;
        line-height: 1; }
      @media only screen and (max-width: 1199px) {
        .header-left .search_bar .search_icon {
          height: 41px;
          padding: 8px 15px 8px 0 !important; } }
    @media only screen and (max-width: 767px) {
      .header-left .search_bar {
        position: static; }
        .header-left .search_bar .dropdown-menu {
          width: 300px;
          left: -15vw;
          box-shadow: 0px 5px 10px 0 rgba(0, 0, 0, 0.1);
          border-radius: 4px !important; } }
    @media only screen and (max-width: 767px) and (max-width: 575px) {
      .header-left .search_bar .dropdown-menu {
        width: 250px;
        left: -25vw; } }
    @media only screen and (max-width: 767px) {
          .header-left .search_bar .dropdown-menu .form-control {
            border-radius: 4px !important;
            width: 100%; } }
    .header-left .search_bar .dropdown-menu,
    .header-left .search_bar .dropdown-menu.show {
      border: 0px;
      background-color: transparent;
      border-top-right-radius: 5rem;
      border-bottom-right-radius: 5rem; }
      @media only screen and (min-width: 768px) {
        .header-left .search_bar .dropdown-menu,
        .header-left .search_bar .dropdown-menu.show {
          left: 0;
          top: 0;
          transform: none;
          display: block;
          position: unset; } }

.content-body {
  margin-left: 21.563rem;
  z-index: 0;
  transition: all .2s ease; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .content-body {
      margin-left: 17rem; } }
@keyframes ring {
  0% {
    transform: rotate(0); }
  1% {
    transform: rotate(30deg); }
  3% {
    transform: rotate(-28deg); }
  5% {
    transform: rotate(34deg); }
  7% {
    transform: rotate(-32deg); }
  9% {
    transform: rotate(30deg); }
  11% {
    transform: rotate(-28deg); }
  13% {
    transform: rotate(26deg); }
  15% {
    transform: rotate(-24deg); }
  17% {
    transform: rotate(22deg); }
  19% {
    transform: rotate(-20deg); }
  21% {
    transform: rotate(18deg); }
  23% {
    transform: rotate(-16deg); }
  25% {
    transform: rotate(14deg); }
  27% {
    transform: rotate(-12deg); }
  29% {
    transform: rotate(10deg); }
  31% {
    transform: rotate(-8deg); }
  33% {
    transform: rotate(6deg); }
  35% {
    transform: rotate(-4deg); }
  37% {
    transform: rotate(2deg); }
  39% {
    transform: rotate(-1deg); }
  41% {
    transform: rotate(1deg); }
  43% {
    transform: rotate(0); }
  100% {
    transform: rotate(0); } }
.deznav {
  width: 21.563rem;
  padding-bottom: 0;
  height: 100%;
  position: absolute;
  top: 0;
  padding-top: 120px;
  z-index: 3;
  background-color: #fff;
  transition: all .2s ease;
  box-shadow: 18px 0px 35px 0px rgba(0, 0, 0, 0.02); }
  @media only screen and (max-width: 1199px) {
    .deznav {
      background-color: #fff;
      padding-top: 80px; } }
  @media only screen and (max-width: 767px) {
    .deznav {
      width: 18rem; } }
  .deznav .deznav-scroll {
    position: relative;
    height: 100%; }
  @media only screen and (min-width: 1200px) and (max-width: 1400px) {
    .deznav {
      width: 17rem; } }
  .deznav ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .deznav .metismenu {
    display: flex;
    flex-direction: column;
    padding-top: 15px; }
    @media only screen and (max-width: 767px) {
      .deznav .metismenu {
        padding-top: 0; } }
    .deznav .metismenu > li {
      display: flex;
      flex-direction: column; }
      .deznav .metismenu > li a > i {
        font-size: 1.25rem;
        display: inline-block;
        vertical-align: middle;
        padding: 0 1.5rem 0 0;
        position: relative;
        top: 0;
        line-height: 1; }
        @media only screen and (max-width: 1400px) {
          .deznav .metismenu > li a > i {
            padding: 0 0.75rem 0 0; } }
        @media only screen and (max-width: 767px) {
          .deznav .metismenu > li a > i {
            font-size: 1.25rem;
            padding: 0 .75rem 0 0; } }
      .deznav .metismenu > li > a {
        font-weight: 500;
        display: inline-block;
        font-size: 15px; }
        .deznav .metismenu > li > a svg {
          max-width: 24px;
          max-height: 24px;
          height: 100%;
          margin-right: 5px;
          margin-top: -3px;
          color: #2f4cdd; }
      .deznav .metismenu > li:hover > a, .deznav .metismenu > li:focus > a {
        color: #2f4cdd; }
    .deznav .metismenu li {
      position: relative; }
    .deznav .metismenu ul {
      transition: all .2s ease-in-out;
      position: relative;
      z-index: 1;
      padding: 0.5rem 0; }
      .deznav .metismenu ul a {
        padding-top: .5rem;
        padding-bottom: .5rem;
        position: relative;
        font-size: 16px;
        padding-left: 6.25rem; }
        @media only screen and (max-width: 1400px) {
          .deznav .metismenu ul a {
            padding-left: 3.75rem;
            font-size: 14px; } }
        @media only screen and (max-width: 767px) {
          .deznav .metismenu ul a {
            padding-left: 3.5rem; } }
        .deznav .metismenu ul a:hover, .deznav .metismenu ul a:focus {
          text-decoration: none;
          color: #2f4cdd; }
    .deznav .metismenu a {
      position: relative;
      display: block;
      padding: 0.625rem 1.875rem;
      outline-width: 0;
      color: #7e7e7e;
      text-decoration: none; }
      @media only screen and (max-width: 767px) {
        .deznav .metismenu a {
          padding: 0.625rem 1.25rem; } }

@media only screen and (max-width: 1199px) {
  .nav-header {
    width: 5rem; } }

@media (max-width: 767px) {
  .brand-title {
    display: none; }

  .deznav {
    left: 0; } }

/*$primary  : #7356f1 !default;*/
/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/

/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/
/*$primary  : #7356f1 !default;*/
/*$primary  : #7356f1 !default;*/

@keyframes bounce {
  0% {
    transform: translateX(-8%);
    -webkit-transform: translateX(-8%); }
  50% {
    transform: translateX(8%);
    -webkit-transform: translateX(8%); }
  100% {
    transform: translateX(-8%);
    -webkit-transform: translateX(-8%); } }

/*$primary  : #7356f1 !default;*/

/*$primary  : #7356f1 !default;*/

/* =============
   Calendar
============= */
@keyframes am-moving-dashes {
  100% {
    stroke-dashoffset: -1.9375rem; } }
@keyframes am-pulsating {
  0% {
    stroke-opacity: 1;
    stroke-width: 0px; }
  100% {
    stroke-opacity: 0;
    stroke-width: 3.125rem; } }
@keyframes am-draw {
  0% {
    stroke-dashoffset: 500%; }
  100% {
    stroke-dashoffset: 0%; } }

.form-control {
  background: #fff;
  border: 1px solid #f0f1f5;
  color: #6e6e6e;
  height: 56px; }
  @media only screen and (max-width: 1199px) {
    .form-control {
      height: 41px; } }
  .form-control:hover, .form-control:focus {
    box-shadow: none;
    background: #fff;
    color: #6e6e6e; }

.form-control:disabled {
  background: #fff;
  opacity: 1; }

/*$primary  : #7356f1 !default;*/

#image {
  max-width: 100%; }

/*$primary  : #7356f1 !default;*/
/*
0 - 600: Phone
600 - 900: Tablet portrait
900 - 1200: Tablet landscape
1200 - 1800: Normal styles
1800+ : Big Desktop
1em = 16px
The smaller device rules always should write below the bigger device rules
Fixing Order => Base + Typography >> General Layout + Grid >> Page Layout + Component
*/

.bootstrap-select {
  margin-bottom: 0; }
  .bootstrap-select .btn {
    border: 1px solid #f0f1f5 !important;
    background-color: transparent !important;
    font-weight: 400;
    color: #7e7e7e !important; }
    .bootstrap-select .btn:active, .bootstrap-select .btn:focus, .bootstrap-select .btn:hover {
      outline: none !important;
      outline-offset: 0; }
  .bootstrap-select .dropdown-menu {
    border-color: #f0f1f5 !important;
    box-shadow: 0px 0px 40px 0px rgba(82, 63, 105, 0.1); }

/*$primary  : #7356f1 !default;*/

/*$primary  : #7356f1 !default;*/

/*$primary  : #7356f1 !default;*/

@keyframes cd-enter-right {
  0% {
    opacity: 0;
    transform: translateX(100%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }
@keyframes cd-enter-left {
  0% {
    opacity: 0;
    transform: translateX(-100%); }
  100% {
    opacity: 1;
    transform: translateX(0%); } }

button {
  cursor: pointer; }
  button:focus {
    outline: 0;
    box-shadow: none; }

.btn {
  padding: 0.938rem 1.5rem;
  border-radius: 0.375rem;
  font-weight: 500;
  font-size: 1rem; }
  .btn:hover, .btn:focus, .btn:active {
    outline: 0 !important; }
  @media only screen and (max-width: 1400px) {
    .btn {
      padding: 0.625rem 1rem;
      font-size: 0.813rem; } }
.light.btn-primary {
  background-color: #f4f6fd;
  border-color: #f4f6fd;
  color: #2f4cdd; }
  .light.btn-primary:hover {
    background-color: #2f4cdd;
    border-color: #2f4cdd;
    color: #fff; }
.light.btn-dark {
  background-color: #d4d4d4;
  border-color: #d4d4d4;
  color: #6e6e6e; }
  .light.btn-dark:hover {
    background-color: #6e6e6e;
    border-color: #6e6e6e;
    color: #fff; }

.btn-dark {
  background: #6e6e6e;
  border-color: #6e6e6e;
  color: #fff; }
  .btn-dark:active, .btn-dark:focus, .btn-dark:hover {
    background: #555555;
    color: #fff;
    border-color: #555555; }

.card {
  margin-bottom: 1.875rem;
  background-color: #fff;
  transition: all .5s ease-in-out;
  position: relative;
  border: 0px solid transparent;
  border-radius: 20px;
  box-shadow: 0px 12px 23px 0px rgba(62, 73, 84, 0.04);
  height: calc(100% - 30px); }
  @media only screen and (max-width: 575px) {
    .card {
      margin-bottom: 0.938rem;
      height: calc(100% - 0.938rem); } }
  .card-body {
    padding: 1.875rem; }
    @media only screen and (max-width: 575px) {
      .card-body {
        padding: 1rem; } }
  .card-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    text-transform: capitalize; }
  .card-header {
    border-color: #f0f1f5;
    position: relative;
    background: transparent;
    padding: 1.5rem 1.875rem 1.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center; }
    @media only screen and (max-width: 575px) {
      .card-header {
        padding: 1.25rem 1rem 1.25rem; } }
    .card-header .card-title {
      margin-bottom: 0px; }
@keyframes mymove {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

.dropdown-menu {
  font-size: inherit;
  border: 0;
  box-shadow: 0 10px 40px 0 rgba(32, 28, 69, 0.1);
  margin-top: 0;
  border-radius: 0.375rem; }

@keyframes myanimation {
  0% {
    width: 0; } }
@keyframes myanimation {
  0% {
    width: 0; } }


.table-responsive::-webkit-scrollbar {
  background-color: #F5F5F5;
  width: 8px;
  height: 8px; }

.table-responsive::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  background-color: #F5F5F5; }

.table-responsive::-webkit-scrollbar-thumb {
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #7e7e7e; }

.table {
  color: strong;
    color-color: #6e6e6e; }
  .table th, .table td {
    border-color: #f0f1f5;
    padding: 12px 9px; }
  .table thead th {
    border-bottom-width: 1px;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
    letter-spacing: 0.5px;
    border-color: #f0f1f5; }
  .table tbody tr td {
    vertical-align: middle;
    border-color: #f0f1f5; }
  .table:not(.table-bordered) thead th {
    border-top: none; }
  .table-responsive-md {
    min-width: 36rem !important; }

.deznav .copyright {
  font-size: 12px;
  padding: 0 50px;
  color: #969ba0;
  margin-bottom: 40px; }
  .deznav .copyright p {
    margin-bottom: 10px; }
  @media only screen and (max-width: 1400px) {
    .deznav .copyright {
      padding: 0 25px; } }

span#counter {
  font-size: 30px;
  font-weight: 700;
  color: #2f4cdd; }
/* add menu sidebar */
.add-menu-sidebar {
  background: #2f4cdd;
  background: -moz-linear-gradient(-45deg, #2f4cdd 0%, #d45bff 100%);
  background: -webkit-linear-gradient(-45deg, #2f4cdd 0%, #d45bff 100%);
  background: linear-gradient(135deg, #2f4cdd 0%, #d45bff 100%);
  padding: 20px 20px;
  border-radius: 20px;
  margin: 50px 50px 30px;
  text-align: center; }
  @media only screen and (max-width: 1400px) {
    .add-menu-sidebar {
      margin: 50px 25px 30px; } }
  .add-menu-sidebar p {
    font-size: 14px;
    line-height: 1.4;
    color: #fff; }
  .add-menu-sidebar img {
    width: 75px;
    margin-top: -60px;
    margin-bottom: 15px; }

/* order manage */

/*
===================================
    Product detail
===================================*/

/*--------tab----------*/

/*
===================================
    list view
===================================*/

/*$primary  : #7356f1 !default;*/

/*# sourceMappingURL=style.css.map */
